<mat-toolbar class="top-bar">
    <a class="app-title" routerLink="/home">CoffeeFinder</a>

    <nav class="view-nav">
        <a matButton routerLink="/map" routerLinkActive="active-view">Map</a>
        <a matButton routerLink="/table" routerLinkActive="active-view">Table</a>
        <a matButton routerLink="/germany-overview" routerLinkActive="active-view">Germany Overview</a>
    </nav>

    <span class="spacer"></span>

    @if (!hideCitySelect()) {
    <div class="city-select">
        <mat-select [value]="selectedCity" (selectionChange)="onCityChange($event.value)">
            @for (city of cities; track city) {
            <mat-option [value]="city">{{ city }}</mat-option>
            }
        </mat-select>
    </div>
    }
</mat-toolbar>